<h3 class="mb-3 text-center">Create Contact</h3>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="contact.name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="name">Address</label>
    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="contact.address" placeholder="Enter address">
  </div>
  <button type="submit" class="btn btn-success btn-lg btn-block" (click)="create()">Create Contact</button>
</form>
