.no-data p {
    font-size: 27px;
    color: rgba(0, 0, 0, .5);
    letter-spacing: .2px;
    padding-bottom: 10px;
  }
  
  .link {
    cursor: pointer;
    display: inline-block;
    color: blue;
    margin-right: 10px;
  }