<div class="no-data text-center" *ngIf="contacts.length == 0">
  <p>There is no contact added yet!</p>
  <button class="btn btn-outline-primary" routerLink="/contact-create">Add contact</button>
</div>
<div *ngIf="contacts.length > 0">
  <h3 class="mb-3 text-center">Contact List</h3>
  <table class="table">
    <thead class="thead-dark">
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let i = index">
          <td scope="row">{{i}}</td>
          <td>{{contact.id}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.address}}</td>
          <td>
            <span class="link" routerLink="/contact-edit/{{contact.id}}">
              Edit
            </span>
            <span class="link" (click)="delete(contact.id)">
              Delete
            </span>
          </td>
      </tr>
    </tbody>
  </table>
</div>
