<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Contacts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline">
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/contact-create">Create Contact</a>
            </nav>
            <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/contact-list">Contact List</a>
      </form>
    </div>
  </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
